@model BW_Admin.tbl_Gallery

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.glr_ID)

        <div class="control-group">
            @Html.LabelFor(model => model.glr_Image, htmlAttributes: new { @class = "span8" })
            <div class="controls">
                @Html.EditorFor(model => model.glr_Image, new { htmlAttributes = new { @class = "span8" } })
                @Html.ValidationMessageFor(model => model.glr_Image, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.glr_Description, htmlAttributes: new { @class = "span8" })
            <div class="controls">
                @Html.EditorFor(model => model.glr_Description, new { htmlAttributes = new { @class = "span8" } })
                @Html.ValidationMessageFor(model => model.glr_Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.glr_Type, htmlAttributes: new { @class = "span8" })
            <div class="controls">
                @Html.EditorFor(model => model.glr_Type, new { htmlAttributes = new { @class = "span8" } })
                @Html.ValidationMessageFor(model => model.glr_Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.glr_PlaceID, "glr_PlaceID", htmlAttributes: new { @class = "span8" })
            <div class="controls">
                @Html.DropDownList("glr_PlaceID", null, htmlAttributes: new { @class = "span8" })
                @Html.ValidationMessageFor(model => model.glr_PlaceID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.glr_PackageID, "glr_PackageID", htmlAttributes: new { @class = "span8" })
            <div class="controls">
                @Html.DropDownList("glr_PackageID", null, htmlAttributes: new { @class = "span8" })
                @Html.ValidationMessageFor(model => model.glr_PackageID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            <div class="col-md-offset-2 controls">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
