@model IEnumerable<BW_Admin.tbl_Gallery>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.glr_Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.glr_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.glr_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Package.pkf_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Place.plc_Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.glr_Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.glr_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.glr_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Package.pkf_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Place.plc_Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.glr_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.glr_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.glr_ID })
        </td>
    </tr>
}

</table>
