@model BW_Admin.tbl_Category

@{
    ViewBag.Title = "Details";
}

<div class="content">
    <div class="module">
        <div class="module-head">    <h3>Category</h3>    </div>   <div class="module-body">

            <div>

                <h5>
                    Name
                </h5>

                <div class="well">
                    @Html.Raw(Model.cat_Name)
                </div>

                <h5>
                    Descripton
                </h5>

                <div class="well">
                    @Html.Raw(Model.cat_Descripton)
                </div>

                <h5>
                    Priority
                </h5>

                <div class="well">
                    @Html.Raw(Model.cat_Priority)
                </div>

                <h5>
                    Active
                </h5>

                <div class="well">
                    @Html.Raw(Model.cat_Active)
                </div>

                <h5>
                    Banner Image
                </h5>

                <div class="well">
                    <img class="img-responsive" src="~/Pictures/@Model.cat_BannerImage" />
                </div>

                <h5>
                    Square Image
                </h5>

                <div class="well">
                    <img class="img-responsive" src="~/Pictures/@Model.cat_SquareImage" />
                </div>

                <h5>
                    Background Image 1
                </h5>

                <div class="well">
                    <img class="img-responsive" src="~/Pictures/@Model.cat_BackgroundImage1" />
                </div>

                <h5>
                    Background Image 2
                </h5>

                <div class="well">
                    <img class="img-responsive" src="~/Pictures/@Model.cat_BackgroundImage2" />
                </div>


            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.cat_ID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>
