@model BW_Admin.tbl_CancelPolicy

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Cancellation Policy
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cnp_Name)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.cnp_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cnp_Description)
        </dd>*@

    </dl>

    @{
        if (ViewBag.Deletable == "No")
        {
            <div class="well" id="dependency">
                <h5>You need to clear following dependencies before deleting.</h5>

                <h5>Packages : </h5>
                @foreach (tbl_Package p in ViewBag.Packs)
                {
                    <b>Package : </b> @p.pkf_Name <br />
                }

            </div>
        }
    }

    @using (Html.BeginForm())
    {
        

        <div class="form-actions no-color">
            @if (ViewBag.Deletable == "No")
            {
                <input type="submit" value="Delete" disabled class="btn btn-danger" />
            }
            else
            {
                <input type="submit" value="Delete" class="btn btn-danger" />
            }
            |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
